/.vscode
/Alec Benjamin- Older.mp3
/bootstrap-5.3.3-examples
/CS220_P1
/hello.c
/hello.exe
/helloWorld.html
/intern.js
/kaneki.jpg
/Methods_equals_compareTo_User_Defined.java
/Mysite
/myWebpage.html
/pwallpaper.mp4
/script.js
/styles.css
/Test.java